<div class="profile-header-container flex flex-row items-stretch">
  <div class="profile-picture">
    <div class="flex flex-col justify-center items-center">
      <img *ngIf="user.username !== ''" src="/api/user/avatar/{{ user.username }}" alt="Avatar de {{ user.username }}">
      <app-image-upload *ngIf="isMyProfile" (fileUploaded)=changeAvatar($event)></app-image-upload>
    </div>
  </div>
    <div class="profile-credentials">
      <h1 class="profile-username">{{user.username}}</h1>
      <h2 class="profile-full-name">{{user.display_name}}</h2>
      <h3 class="profile-email">{{user.email}}</h3>
    </div>
  <div class="profile-description">
    <h1>À propos </h1>
    <p>
      {{user.about}}
    </p>
  </div>
  <div class="profile-follow">
    <ng-container *ngIf="!isMyProfile">
      <button *ngIf="isFollowed" mat-raised-button color="warn" (click)="unfollow()">
        Se désabonner
      </button>
      <button *ngIf="!isFollowed" mat-raised-button color="primary" (click)="follow()">
        S'abonner
      </button>
    </ng-container>
  </div>
</div>
<hr>
