<!-- html pour l'affichage des paramètres du compte de l'utilisateur -->
<h1>Compte</h1>
  <div class="flex flex-col gap-4">
    <div>
      <h2>Nom d'utilisateur</h2>
      <p>Votre nom d'utilisateur est: <strong>username</strong>. Le nom d'utilisateur est unique.</p>
      <button mat-raised-button (click)="onEditUsername()" color="primary">Changer mon nom d'utilisateur</button>
    </div>
    <div>
      <h2>Adresse courriel</h2>
      <p>Votre adresse courriel est: <strong>mail@domain.com</strong></p>
      <button mat-raised-button (click)="onEditEmail()" color="primary">Changer mon adresse courriel</button>
    </div>
    <div>
      <h2>Suppression de compte</h2>
      <p>Supprimer votre compte est une action irréversible. Toutes vos données seront supprimées et vous ne pourrez
        plus vous connecter.</p>
      <p>Vous pouvez également désactiver votre compte, ce qui le rendra inaccessible, mais vous pourrez toujours le
        réactiver.</p>
      <div class="button-row">
        <button mat-raised-button color="warn">Désactiver</button>
        <button mat-stroked-button color="warn">Supprimer</button>
      </div>
    </div>
  </div>
