<div class="profile-header-container">
  <div class="profile-picture">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRz7bNEIBR9uOkoAM2_x24ysyDNYiJIsFVlf6j0PX4UD7hn77tOg6ekZ2N2EVNKl8a-fuE&usqp=CAU" alt="Profile Picture" class="rounded-full">
    <div class="profile-credentials">
      <h1 class="profile-username">bradFrost64</h1>
      <h2 class="profile-full-name">Brad Frost</h2>
      <h3 class="profile-email">brad64frost@shemale.io</h3>
    </div>
  </div>
  <div class="profile-description">
    <h1>À propos :</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Quisquam, quod, voluptates, voluptas, quae, quia, quibusdam
      voluptatum quidem quos quas nesciunt nemo voluptatibus
      doloremque. Quisquam, quod, voluptates, voluptas, quae, quia,
      quibusdam voluptatum quidem quos quas nesciunt nemo voluptatibus
      doloremque.
    </p>
  </div>
</div>
<hr>
