.profile-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5%;
  width: 85%;
  height: 25%;
}

.profile-picture {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

img {
  border: azure 5px solid;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.profile-credentials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
}

.profile-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
}

hr {
  width: 85%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
}
