<div id="parent">
    <form mat-form-field id="form" (ngSubmit)="onSubmit()" [formGroup]="formEmail">
        <h1 id="title">Bracket Blitz</h1>
        <p id="message">Donnez votre courriel pour vous envoyer un lien de modification de mot de passe</p>
        <p id="label">Courriel</p>
        <mat-form-field>
            <mat-label>exemple@domaine.com</mat-label>
            <input matInput formControlName="email" type="email">
            <mat-error *ngIf="formEmail.get('email')?.hasError('required')">Le courriel est requis</mat-error>
            <mat-error *ngIf="formEmail.get('email')?.hasError('email')">Le courriel n'est pas valide</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Envoyer</button>
    </form>
</div>
