<!-- html pour l'affichage du dialogue de changement de mot de passe -->
<h1 mat-dialog-title>Changer de mot de passe</h1>
<mat-dialog-content [formGroup]="form" (ngSubmit)="onSubmit()">
    <p>Ancien mot de passe</p>
    <mat-form-field appearance="fill" class="dialog-input">
    <mat-label>Ancien mot de passe</mat-label>
    <input type="password" matInput formControlName="oldPassword">
    <mat-error *ngIf="form.get('oldPassword')?.hasError('required')">
        Ancien mot de passe est requis
    </mat-error>
    </mat-form-field>
    <p>Nouveau mot de passe</p>
    <mat-form-field appearance="fill" class="dialog-input">
        <mat-label>Nouveau mot de passe</mat-label>
        <input type="password" matInput formControlName="newPassword">
        <mat-error *ngIf="form.get('newPassword')?.hasError('required')">
            Nouveau mot de passe est requis
        </mat-error>
        <mat-error *ngIf="form.get('newPassword')?.hasError('minlength')">
            Le mot de passe doit contenir au moins 8 caractères
        </mat-error>
    </mat-form-field>
    <p>Confirmer le mot de passe</p>
    <mat-form-field appearance="fill" class="dialog-input">
        <mat-label>Confirmer le mot de passe</mat-label>
        <input type="password" matInput formControlName="confirm">
        <mat-error *ngIf="form.get('confirm')?.hasError('required')">
            Confirmer le mot de passe est requis
        </mat-error>
    </mat-form-field>
    <mat-error *ngIf="!match">
        Les mots de passe ne sont pas identiques
    </mat-error>
    <mat-error *ngIf="!hide">
        Ancien mot de passe incorrect
    </mat-error>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()" cdkFocusInitial>Changer</button>
    <button mat-raised-button color="warn" (click)="onNoClick()">Annuler</button>
</mat-dialog-actions>




