.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5% 20px 0;}

.home-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
