<h1>Bracket Blitz</h1>

<mat-form-field>
    <mat-label>nom d'utilisateur</mat-label>
    <input matInput formControlName="userName">
    <mat-error>Le nom est requis</mat-error>
</mat-form-field>
<br>
<mat-form-field>
    <mat-label>e-mail</mat-label>
    <input matInput formControlName="password" type="password">
    <mat-error>L'e-mail est requis</mat-error>
</mat-form-field>
<br>
<mat-form-field>
    <mat-label>mot de passe</mat-label>
    <input matInput formControlName="password" type="password">
    <mat-error>Le mot de passe est requis</mat-error>
</mat-form-field>
<br>
<mat-form-field>
    <mat-label>Confirmer le mot de passe</mat-label>
    <input matInput formControlName="password" type="password">
    <mat-error>Le mot de passe est requis</mat-error>
</mat-form-field>
<br>
<button mat-raised-button color="primary">Confirmer</button>
<br><br>
</form>

<p>Partenaires de connexion</p>
<hr>
<button mat-raised-button color="primary">Google</button>
<br>
<button mat-raised-button color="primary">Facebook</button>

