.main {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 3em !important;
}

.info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.infoGroup{
  max-width: 65%;
}

img {
  max-height: 20em;
}
