<mat-card>
    <mat-card-content>
      <h1 id="title">Bracket Blitz</h1>
      <form mat-form-field id="form" (ngSubmit)="onSubmit()" [formGroup]="formLogin">
          <p>Nom d'utilisateur</p>
          <mat-form-field>
              <mat-label>Nom d'utilisateur</mat-label>
              <input matInput formControlName="username" type="text">
              <mat-error *ngIf="formLogin.get('username')?.hasError('required')">Le nom d'utilisateur est requis</mat-error>
          </mat-form-field>
          <p>Mot de passe</p>
          <mat-form-field appearance="fill">
              <mat-label>Mot de passe</mat-label>
              <input type="password" matInput formControlName="password">
              <mat-error *ngIf="formLogin.get('password')?.hasError('required')">Le mot de passe est requis</mat-error>
          </mat-form-field>
          <div class="links">
              <a href="/auth/forgot-password">Mot de passe oublié</a><br>
              <button mat-raised-button color="primary" type="submit">Se connecter</button>
          </div>
      </form>
      <div id="partner">
        <h2>Partenaire de connexion</h2>
        <hr><br>
        <button mat-raised-button color="warn" type="submit">Google</button><br><br>
        <button mat-raised-button color="primary" type="submit">Discord</button>
      </div>
      <br>
    </mat-card-content>
</mat-card>
