mat-error + mat-error {
    display: none;
}

#title {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 1em;
}
#partner{
  text-align: center;
}

#partner button{
  width: 50%;
}

.links {
  margin-top: 5%;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 2em;
}

mat-card {
  max-width: 25%;
  margin-top: 10%;
  margin-left: 35%;
}

mat-card form{
  margin-left: 26%;
}
