<!-- html pour le contenu de la page de profile en tant que visiteur -->
<mat-tab-nav-panel>
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <span><fa-icon [icon]="boxArchive"></fa-icon>Ses tournois</span>
            </ng-template>
            <ng-template matTabContent>
              <app-list-of-tournaments [filter]="user._id!"></app-list-of-tournaments>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <span><fa-icon [icon]="users"></fa-icon>Ses abonnements</span>
            </ng-template>
            <ng-template matTabContent>
                <p>Tournois Suivis component</p>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</mat-tab-nav-panel>
