<div class="flex flex-col justify-center items-center">
  <div class="w-full h-64 bg-cover bg-strategy bg-top border-b-4 border-neutral-400">
    <div class="backdrop-blur-sm bg-black bg-opacity-50 h-full w-full flex items-end justify-center">
      <div class="container py-8 flex flex-row justify-between items-center">
        <div>
          <h1 class="text-5xl font-extrabold">Tournois</h1>
          <p class="text-2xl font-bold">Tous les tournois de la communauté</p>
        </div>
        <div>
          <button
            class="uppercase from-theme-red to-theme-dark-brown hover:bg-gradient-to-bl text-white bg-gradient-to-br focus:ring-4 focus:outline-none focus:accent-theme-light-blue dark:focus:bg-theme-dark-blue rounded-lg px-5 py-2.5 text-center"
            (click)="navigate('/tournaments/create')">Créer un tournoi
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-8 grow">
    <header
      class="flex flex-col md:flex-row gap-x-4 px-8 py-4 bg-slate-800 text-white align-middle justify-between items-center rounded-2xl my-4"
    >
      <form class="flex flex-row items-center gap-2" [formGroup]="searchForm" (ngSubmit)="searchData()">
        <input
          formControlName="search"
          type="text"
          class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-64 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500"
          placeholder="Rechercher"
        />
        <button mat-icon-button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          <mat-icon>search</mat-icon>
        </button>
      </form>
      <div class="flex flex-row justify-start gap-2 grow">
        <button
          mat-icon-button
          [mat-menu-trigger-for]="filter_game"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          <mat-icon>filter_list</mat-icon>
        </button>
        <mat-menu #filter_game="matMenu">
          <button mat-menu-item (click)="filterData('all')">
            <mat-icon>remove</mat-icon>
            <span>Tous</span>
          </button>
        </mat-menu>
        <button
          mat-icon-button
          [mat-menu-trigger-for]="sort"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          <mat-icon>sort</mat-icon>
        </button>
        <mat-menu #sort="matMenu">
          <button mat-menu-item (click)="sortData('name')">
            <mat-icon>sort_by_alpha</mat-icon>
            <span>Nom</span>
          </button>
          <button mat-menu-item (click)="sortData('date')">
            <mat-icon>date_range</mat-icon>
            <span>Date</span>
          </button>
          <button mat-menu-item (click)="sortData('game')">
            <mat-icon>videogame_asset</mat-icon>
            <span>Jeux</span>
          </button>
        </mat-menu>
        <button
          mat-icon-button
          [mat-menu-trigger-for]="order"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          <mat-icon>swap_vert</mat-icon>
        </button>
        <mat-menu #order="matMenu">
          <button mat-menu-item (click)="orderData('asc')">
            <mat-icon>arrow_upward</mat-icon>
            <span>Ascendant</span>
          </button>
          <button mat-menu-item (click)="orderData('desc')">
            <mat-icon>arrow_downward</mat-icon>
            <span>Descendant</span>
          </button>
        </mat-menu>
      </div>
    </header>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 px-4">
      <app-tournament-card *ngFor="let tournament of tournaments" [tournament]="tournament"></app-tournament-card>
    </div>
  </div>
</div>
