<div class="bg-theme-black drop-shadow-2xl border-white border-2 flex flex-col gap-2 px-6 py-3">
  <h1 class="text-center font-bold text-lg">{{tournament.name}}</h1>
  <ul class="py-4">
    <li>
      <fa-icon [icon]="faDate"></fa-icon>{{' '}}
      <span>{{tournament.date.toDateString()}}</span>
    </li>
    <li>
      <fa-icon [icon]="faPlayer"></fa-icon>{{' '}}
      <span>{{tournament.players.length}} players</span>
    </li>
  </ul>
  <button class="w-full" mat-raised-button color="primary">View</button>
</div>
