.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.social{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

form {
  display: flex;
  flex-direction: column;
}

.center {
  text-align: center;
  margin: 1em;
}

h1 {
  font-size: 2em;
}
