#parent {
    display: flex;
    width: 100%;
    justify-content: center;
}
#title {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 2em;
}
#form {
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
    width: 40%;
}

mat-form-field {
    display:block;
}

mat-error + mat-error {
    display: none;
}

#partenaire {
    position: absolute;
    top: 80%;
}