<mat-tab-nav-panel>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <span><fa-icon [icon]="boxArchive"></fa-icon>Organisateurs Suivis</span>
        </ng-template>
        <ng-template matTabContent>
          <app-followed-users></app-followed-users>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span><fa-icon [icon]="users"></fa-icon>Tournois Suivis</span>
        </ng-template>
        <ng-template matTabContent>
          <app-followed-tournaments></app-followed-tournaments>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
</mat-tab-nav-panel>
