<div class="flex flex-row justify-between border-b-2 border-white bg-gradient-to-r from-theme-beige to-theme-dark-blue">
  <div class="flex flex-row justify-start items-center m-3">
    <img (click)="navigate('/home')" alt="logo" src="assets/logo-simple.svg">
    <button mat-button color="warn" class="font-bold uppercase" (click)="navigate('/tour')">Tournois</button>
    <button mat-button color="warn" class="font-bold uppercase" (click)="navigate('/orgs')">Organisateurs</button>
  </div>
  <div *ngIf="!userConnected()" class="flex flex-row items-center m-3">
    <button mat-button class="font-bold uppercase" (click)="navigate('/auth/login')">Connexion</button>
    <button mat-raised-button class="font-bold uppercase" (click)="navigate('/auth/register')" color="accent">Inscription</button>
  </div>
  <div *ngIf="userConnected()" class="flex flex-row items-center m-3">
    <button mat-raised-button class="font-bold uppercase" (click)="navigate('/auth/logout')" color="accent">Déconnexion</button>
  </div>
</div>
