<mat-toolbar color="primary">
  <span class="logo" (click)="navigate('/home')"><img alt="logo" src="assets/logo.svg"></span>
  <button mat-button (click)="navigate('/tour')">Tournois</button>
  <button mat-button (click)="navigate('/orgs')">Organisateurs</button>
  <span class="spacing"></span>
  <div>
    <button mat-button (click)="navigate('/auth/login')">Connexion</button>
    <button mat-button (click)="navigate('/auth/register')" color="accent">Inscription</button>
  </div>
</mat-toolbar>
