<mat-tab-nav-panel>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <span><fa-icon [icon]="boxArchive"></fa-icon>Mes Tournois</span>
      </ng-template>
      <ng-template matTabContent>
        <app-list-of-tournaments></app-list-of-tournaments>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span><fa-icon [icon]="users"></fa-icon>Mes abonnements</span>
      </ng-template>
      <ng-template matTabContent>
        <app-followed-menu></app-followed-menu>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span><fa-icon [icon]="gear"></fa-icon>Paramètres</span>
      </ng-template>
      <ng-template matTabContent>
        <app-settings (event)="updateProfile($event)"></app-settings>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</mat-tab-nav-panel>
